.user {
    p {
        color: black;
        font-size: medium;
    }
    .connaction {
        font-size: large;
    }
    //     ion-button{
    //         --background: transparent!import;
    //         border: ;
    //     }
}