<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title class="ion-text-center">
            الملف الشخصي
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-item>
        <ion-avatar slot="start">
            <img src="assets/images/1.jpg" />
        </ion-avatar>
        <ion-label>عمر ادم</ion-label>
    </ion-item>

    <ion-list>
        <ion-item>
            <ion-icon name="pizza" color="primary" slot="start"></ion-icon>
            <ion-label>ملف</ion-label>
        </ion-item>
        <ion-item>
            <ion-icon name="pizza" color="primary" slot="start"></ion-icon>
            <ion-label>الإشتراكات</ion-label>
        </ion-item>
        <ion-item>
            <ion-icon name="pizza" color="primary" slot="start"></ion-icon>
            <ion-label>اتصال بنا</ion-label>
        </ion-item>
        <ion-item>
            <ion-icon name="pizza" color="primary" slot="start"></ion-icon>
            <ion-label>سياسة الخصوصية</ion-label>
        </ion-item>
        <ion-item>
            <ion-icon name="pizza" color="primary" slot="start"></ion-icon>
            <ion-label>الأسئلة الشائعة</ion-label>
        </ion-item>

        <ion-item>
            <ion-icon name="pizza" color="primary" slot="start"></ion-icon>
            <ion-label>اللغة</ion-label>
        </ion-item>


    </ion-list>

    <ion-button color="light" expand="full">
        <ion-icon color="primary" slot="start" name="log-out"></ion-icon>
        تسجيل الخروج
    </ion-button>

</ion-content>