<ion-tabs>

    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home">
            <ion-badge color="warning">9</ion-badge>
            <ion-icon name="calendar-outline"></ion-icon>
            <ion-label>الطلبات</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="notifications">
            <ion-badge color="danger">66</ion-badge>

            <ion-icon name="notifications">
            </ion-icon>
            <ion-label>الإشعارات</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="rating-review">
            <ion-icon name="star"></ion-icon>
            <ion-label>التقيم</ion-label>
        </ion-tab-button>
        <!--
        <ion-tab-button tab="profile">
            <ion-icon name="chatbubbles"></ion-icon>
            <ion-label>المحادثات</ion-label>
        </ion-tab-button> -->

        <ion-tab-button tab="profile">
            <ion-icon name="person-outline"></ion-icon>
            <ion-label>الحساب</ion-label>
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>