<ion-tabs>

    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home">
            <ion-icon name="calendar-outline"></ion-icon>
            <ion-label>الطلبات</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="notifications">
            <ion-icon name="notifications"></ion-icon>
            <ion-label>الإشعارات</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="tab2">
            <ion-icon name="star"></ion-icon>
            <ion-label>التقيم</ion-label>
        </ion-tab-button>
        <!-- 
        <ion-tab-button tab="tab3">
            <ion-icon name="chatbubbles"></ion-icon>
            <ion-label>المحادثات</ion-label>
        </ion-tab-button> -->

        <ion-tab-button tab="tab3">
            <ion-icon name="person-outline"></ion-icon>
            <ion-label>الحساب</ion-label>
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>