<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title class="ion-text-center">
            الرئيسية
        </ion-title>
    </ion-toolbar>
    <ion-segment scrollable="true" mode="ios" [(ngModel)]="appoinmentbutton">
        <ion-segment-button value="old">
            <ion-label>المنجزة</ion-label>
        </ion-segment-button>
        <ion-segment-button value="new">
            <ion-label>القادمة</ion-label>
        </ion-segment-button>
    </ion-segment>

</ion-header>

<ion-content [fullscreen]="true">
    <!-- <div class="square"></div> -->

    <ion-list>

        <ion-item color="medium" (click)="appoinmentClick()" *ngFor="let item of data" class="animate__animated {{animateAppoinment}} animate__delay-.5s">
            <div slot="start">
                <p>{{item.name}}</p>
                <p> {{item.type}} </p>
            </div>

            <div slot="end">
                <p class="ion-text-center">{{item.date}}</p>
                <p class="ion-text-center">
                    <ion-button color="light" (click)="pushAppoinment(1)">عرض</ion-button>
                </p>
            </div>
        </ion-item>
    </ion-list>
</ion-content>